.errorDiv{

    position: fixed;
    right: 0;
    top: 50%;
    width: 100%;
    margin-top: -2.5em;
    z-index: 100;

    /*position: absolute; margin-top: 45%; width: 100%; z-index: 999;*/
}
/*
.purpleBg{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../images/color-splash.jpg');
    background-repeat:repeat;
    color: #265a88;;
}
*/

